.wrapper {
    width: 320px;
    padding: 12px 20px 20px 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.following-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.7rem;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}
